@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  background-color: #f3e1d7;
}

a {
  color: #9b6e1e;
  font-weight: bold;
}

.blog-links {
  padding: 16px 0;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

section {
  margin-bottom: 40px;
}

.main__wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  text-align: center;
  padding: 20px 30px;
}

@media screen and (min-width: 550px) {
  .header {
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 550px) {
  .navigation {
    margin: 0;
    max-width: none;
  }
}

.link {
  display: flex;
}

.link:not(:last-of-type) {
  margin-right: 8px;
}

.link svg {
  color: #9b6e1e;
  height: 25px;
  margin: 15px;
  align-items: baseline;
}

@media screen and (min-width: 550px) {
  .link svg {
    margin: 10px;
  }
}

.header .link svg:hover {
  color: #75887b;
}

.header .title {
  color: #9b6e1e;
  font-size: 30px;
}

@media screen and (min-width: 550px) {
  .header .title {
    font-size: 36px;
  }
}

.title {
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 550px) {
  .title {
    font-size: 32px;
  }
}

.highlight {
  color: #9b6e1e;
  font-family: 'DM Serif Display', serif;
  font-size: 20px;
  background: none;
}
